<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.lingnan.mapper.StudentMapper">
    <resultMap id="studentMap" type="student">
        <result property="sId" column="s_id"/>
        <result property="sPassword" column="s_passWord"/>
        <result property="sStatus" column="s_status"/>
        <result property="sName" column="s_name"/>
        <result property="sGrade" column="s_grade"/>
        <result property="sClass" column="s_class"/>
        <result property="sCollege" column="s_college"/>
    </resultMap>
    <select id="findOne" resultMap="studentMap">
        select * from student where s_id = #{id};
    </select>
    <select id="findAll" resultMap="studentMap">
        select * from student;
    </select>
</mapper>
